In [16]:
import os, json
import pandas as pd
import plotly.express as px
import requests

#agg transaction data
path1  =  "F:/MDTM46B/Phonepe/data/aggregated/transaction/country/india/state/"
Agg_list  =  os.listdir(path1)

clm1 = {'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for state in Agg_list:
    state1 = path1+state+"/"
    Agg_yr = os.listdir(state1)
    for year in Agg_yr:
        year1 = state1+year+"/"
        Agg_yr_list = os.listdir(year1)
        for data in Agg_yr_list:
            data1 = year1+data
            Data = open(data1,'r')
            D = json.load(Data)
            for z in D['data']['transactionData']:
              Name = z['name']
              count = z['paymentInstruments'][0]['count']
              amount = z['paymentInstruments'][0]['amount']
              clm1['Transaction_type'].append(Name)
              clm1['Transaction_count'].append(count)
              clm1['Transaction_amount'].append(amount)
              clm1['State'].append(state)
              clm1['Year'].append(year)
              clm1['Quater'].append(int(data.strip('.json')))
# #Succesfully created a dataframe
Agg_Trans = pd.DataFrame(clm1)
Agg_Trans["State"] = Agg_Trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_Trans["State"] = Agg_Trans["State"].str.replace("-"," ")
Agg_Trans["State"] = Agg_Trans["State"].str.title()
Agg_Trans['State'] = Agg_Trans['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Agg_Trans)

#agg insurance data
path2  =  "F:/MDTM46B/Phonepe/data/aggregated/insurance/country/india/state/"
Agg_insure_list  =  os.listdir(path2)

clm2 = {'State':[], 'Year':[],'Quater':[],'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}
for state in Agg_insure_list:
    state2 = path2+state+"/"
    Agg_yr = os.listdir(state2)
    for year in Agg_yr:
        year2 = state2+year+"/"
        Agg_yr_list = os.listdir(year2)
        for data in Agg_yr_list:
            data2 = year2+data
            Data = open(data2,'r')
            E = json.load(Data)
            for z in E['data']['transactionData']:
              Name = z['name']
              count = z['paymentInstruments'][0]['count']
              amount = z['paymentInstruments'][0]['amount']
              clm2['Insurance_type'].append(Name)
              clm2['Insurance_count'].append(count)
              clm2['Insurance_amount'].append(amount)
              clm2['State'].append(state)
              clm2['Year'].append(year)
              clm2['Quater'].append(int(data.strip('.json')))
#Succesfully created a dataframe
Agg_insur = pd.DataFrame(clm2)
Agg_insur["State"] = Agg_insur["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_insur["State"] = Agg_insur["State"].str.replace("-"," ")
Agg_insur["State"] = Agg_insur["State"].str.title()
Agg_insur['State'] = Agg_insur['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Agg_insur)

#agg user data
path3  =  "F:/MDTM46B/Phonepe/data/aggregated/user/country/india/state/"
Agg_user_list  =  os.listdir(path3)

clm3 = {'State':[], 'Year':[],'Quater':[],'Brands':[], 'User_count':[], 'Percentage':[]}
for state in Agg_user_list:
    state3 = path3+state+"/"
    Agg_yr = os.listdir(state3)
    for year in Agg_yr:
        year3 = state3+year+"/"
        Agg_yr_list = os.listdir(year3)
        for data in Agg_yr_list:
            data3 = year3+data
            Data = open(data3,'r')
            F = json.load(Data)
            if F.get('data') and F['data'].get('usersByDevice'):
             for z in F['data']['usersByDevice']:
              Brands = z['brand']
              count = z['count']
              percentage = z['percentage']
              clm3['Brands'].append(Brands)
              clm3['User_count'].append(count)
              clm3['Percentage'].append(percentage)
              clm3['State'].append(state)
              clm3['Year'].append(year)
              clm3['Quater'].append(int(data.strip('.json')))
#Succesfully created a dataframe
Agg_user = pd.DataFrame(clm3)
Agg_user["State"] = Agg_user["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Agg_user["State"] = Agg_user["State"].str.replace("-"," ")
Agg_user["State"] = Agg_user["State"].str.title()
Agg_user['State'] = Agg_user['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Agg_user)

#Map transaction data
path4  =  "F:/MDTM46B/Phonepe/data/map/transaction/hover/country/india/state/"
Map_list  =  os.listdir(path4)

clm4 = {'State':[], 'Year':[],'Quater':[],'District':[], 'Transaction_count':[], 'Transaction_amount':[]}
for state in Map_list:
    state4 = path4+state+"/"
    Map_yr = os.listdir(state4)
    for year in Map_yr:
        year4 = state4+year+"/"
        Map_yr_list = os.listdir(year4)
        for data in Map_yr_list:
            data4 = year4+data
            Data = open(data4,'r')
            G = json.load(Data)
            for z in G['data']['hoverDataList']:
              Name = z['name']
              count = z['metric'][0]['count']
              amount = z['metric'][0]['amount']
              clm4['District'].append(Name)
              clm4['Transaction_count'].append(count)
              clm4['Transaction_amount'].append(amount)
              clm4['State'].append(state)
              clm4['Year'].append(year)
              clm4['Quater'].append(int(data.strip('.json')))
#Succesfully created a dataframe
Map_trans = pd.DataFrame(clm4)
Map_trans["State"] = Map_trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_trans["State"] = Map_trans["State"].str.replace("-"," ")
Map_trans["State"] = Map_trans["State"].str.title()
Map_trans['State'] = Map_trans['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Map_trans)

#Map Insurance data
path5 =  "F:/MDTM46B/Phonepe/data/map/insurance/hover/country/india/state/"
Map_Insure_list  =  os.listdir(path5)

clm5 = {'State':[], 'Year':[],'Quater':[],'District':[], 'Insurance_count':[], 'Insurance_amount':[]}
for state in Map_Insure_list:
    state5 = path5+state+"/"
   
    Map_yr = os.listdir(state5)
    for year in Map_yr:
        year5 = state5+year+"/"
        Map_yr_list = os.listdir(year5)
        for data in Map_yr_list:
            data5 = year5+data
            Data = open(data5,'r')
            H = json.load(Data)
            for z in H['data']['hoverDataList']:
              Name = z['name']
              count = z['metric'][0]['count']
              amount = z['metric'][0]['amount']
              clm5['District'].append(Name)
              clm5['Insurance_count'].append(count)
              clm5['Insurance_amount'].append(amount)
              clm5['State'].append(state)
              clm5['Year'].append(year)
              clm5['Quater'].append(int(data.strip('.json')))
#Succesfully created a dataframe
Map_insur = pd.DataFrame(clm5)
Map_insur["State"] = Map_insur["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_insur["State"] = Map_insur["State"].str.replace("-"," ")
Map_insur["State"] = Map_insur["State"].str.title()
Map_insur['State'] = Map_insur['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Map_insur)

# Map User data
path6 =  "F:/MDTM46B/Phonepe/data/map/user/hover/country/india/state/"
Map_User_list  =  os.listdir(path6)

clm6 = {'State':[], 'Year':[],'Quater':[],'District':[], 'RegisteredUsers':[], 'AppOpens':[]}
for state in Map_User_list:
    state6 = path6+state+"/"
   
    Map_yr = os.listdir(state6)
    for year in Map_yr:
        year6 = state6+year+"/"
        Map_yr_list = os.listdir(year6)
        for data in Map_yr_list:
            data6 = year6+data
            Data = open(data6,'r')
            I = json.load(Data)
            for district, info in I['data']['hoverData'].items():
              registeredUsers = info['registeredUsers']
              appOpens = info['appOpens']
              clm6['District'].append(district)
              clm6['RegisteredUsers'].append(registeredUsers)
              clm6['AppOpens'].append(appOpens)
              clm6['State'].append(state)
              clm6['Year'].append(year)
              clm6['Quater'].append(int(data.strip('.json')))
#Succesfully created a dataframe
Map_users = pd.DataFrame(clm6)
Map_users["State"] = Map_users["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Map_users["State"] = Map_users["State"].str.replace("-"," ")
Map_users["State"] = Map_users["State"].str.title()
Map_users['State'] = Map_users['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Map_users)

#Top transaction data
path7  =  "F:/MDTM46B/Phonepe/data/top/transaction/country/india/state/"
Top8_list  =  os.listdir(path7)

clm7 = {'State':[], 'Year':[],'Quater':[], 'Entity_Level':[], 'Entity_Name': [], 'Transaction_count':[], 'Transaction_amount':[]}
for state in Top8_list:
    state7 = path7+state+"/"
    Top_yr = os.listdir(state7)
    for year in Top_yr:
        year7 = state7+year+"/"
        Top_yr_list = os.listdir(year7)
        for data in Top_yr_list:
            data7 = os.path.join(year7, data)
            with open(data7, 'r') as f:
             J = json.load(f)
            for z in J['data']['districts']:
              entityName = z['entityName']
              count = z['metric']['count']
              amount = z['metric']['amount']
              clm7['Entity_Level'].append('district')
              clm7['Entity_Name'].append(entityName)
              clm7['Transaction_count'].append(count)
              clm7['Transaction_amount'].append(amount)
              clm7['State'].append(state)
              clm7['Year'].append(year)
              clm7['Quater'].append(int(data.strip('.json')))

              for z in J['data']['pincodes']:
                clm7['State'].append(state)
                clm7['Year'].append(year)
                clm7['Quater'].append(int(data.strip('.json')))
                clm7['Entity_Level'].append('pincode')
                clm7['Entity_Name'].append(z['entityName'])
                clm7['Transaction_count'].append(z['metric']['count'])
                clm7['Transaction_amount'].append(z['metric']['amount'])
#Succesfully created a dataframe
Top_trans = pd.DataFrame(clm7)
Top_trans["State"] = Top_trans["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_trans["State"] = Top_trans["State"].str.replace("-"," ")
Top_trans["State"] = Top_trans["State"].str.title()
Top_trans['State'] = Top_trans['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Top_trans)

#Top Insurance data
path8  =  "F:/MDTM46B/Phonepe/data/top/insurance/country/india/state/"
Top_insure_list = os.listdir(path8)

clm8 = {'State':[], 'Year':[],'Quater':[], 'Entity_Level':[], 'Entity_Name':[], 'Insurance_count':[], 'Insurance_amount':[]}
for state in Top_insure_list:
    state8 = path8+state+"/"
    Top_yr = os.listdir(state8)
    for year in Top_yr:
        year8 = state8+year+"/"
        Top_yr_list = os.listdir(year8)
        for data in Top_yr_list:
            data8 = year8+data
            Data = open(data8,'r')
            K = json.load(Data)
            for z in K['data']['districts']:
              entityName = z['entityName']
              count = z['metric']['count']
              amount = z['metric']['amount']
              clm8['Entity_Name'].append(entityName)
              clm8['Entity_Level'].append('district')
              clm8['Insurance_count'].append(count)
              clm8['Insurance_amount'].append(amount)
              clm8['State'].append(state)
              clm8['Year'].append(year)
              clm8['Quater'].append(int(data.strip('.json')))

              for z in K['data']['pincodes']:
                clm8['State'].append(state)
                clm8['Year'].append(year)
                clm8['Quater'].append(int(data.strip('.json')))
                clm8['Entity_Level'].append('pincode')
                clm8['Entity_Name'].append(z['entityName'])
                clm8['Insurance_count'].append(z['metric']['count'])
                clm8['Insurance_amount'].append(z['metric']['amount'])
#Succesfully created a dataframe
Top_insur = pd.DataFrame(clm8)
Top_insur["State"] =Top_insur["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_insur["State"] = Top_insur["State"].str.replace("-"," ")
Top_insur["State"] = Top_insur["State"].str.title()
Top_insur['State'] = Top_insur['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Top_insur)

# # Top user data
path9 =  "F:/MDTM46B/Phonepe/data/top/user/country/india/state/"
Top_user_list  =  os.listdir(path9)

clm9 = {'State':[], 'Year':[],'Quater':[],'Entity_Level':[], 'Name':[], 'Registered_Users':[]}
for state in Top_user_list:
    state9= path9+state+"/"
    Top_yr = os.listdir(state9)
    for year in Top_yr:
        year8 = state9+year+"/"
        Top_yr_list = os.listdir(year8)
        for data in Top_yr_list:
            data9 = year8+data
            Data = open(data9,'r')
            L = json.load(Data)
            for z in L['data']['districts']:
              Name = z['name']
              registeredUsers = z['registeredUsers']
              clm9['Name'].append(Name)
              clm9['Entity_Level'].append('district')
              clm9['Registered_Users'].append(registeredUsers)
              clm9['State'].append(state)
              clm9['Year'].append(year)
              clm9['Quater'].append(int(data.strip('.json')))

            for z in L['data']['pincodes']:
               Name = z['name']
               registeredUsers = z['registeredUsers']
               clm9['Name'].append(Name)
               clm9['Entity_Level'].append('pincode')
               clm9['Registered_Users'].append(registeredUsers)
               clm9['State'].append(state)
               clm9['Year'].append(year)
               clm9['Quater'].append(int(data.strip('.json')))
#Succesfully created a dataframe
Top_users = pd.DataFrame(clm9)
Top_users["State"] = Top_users["State"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
Top_users["State"] = Top_users["State"].str.replace("-"," ")
Top_users["State"] = Top_users["State"].str.title()
Top_users['State'] = Top_users['State'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")
# print(Top_users)

In [6]:
print('Agg_Trans=',Agg_Trans.columns)
print('Agg_insur=',Agg_insur.columns)
print('Agg_user=',Agg_user.columns)
print('Map_trans=',Map_trans.columns)
print('Map_insur=',Map_insur.columns)
print('Map_users=',Map_users.columns)
print('Top_trans=',Top_trans.columns)
print('Top_insur=',Top_insur.columns)
print('Top_users=',Top_users.columns)

Agg_Trans= Index(['State', 'Year', 'Quater', 'Transaction_type', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')
Agg_insur= Index(['State', 'Year', 'Quater', 'Insurance_type', 'Insurance_count',
       'Insurance_amount'],
      dtype='object')
Agg_user= Index(['State', 'Year', 'Quater', 'Brands', 'User_count', 'Percentage'], dtype='object')
Map_trans= Index(['State', 'Year', 'Quater', 'District', 'Transaction_count',
       'Transaction_amount'],
      dtype='object')
Map_insur= Index(['State', 'Year', 'Quater', 'District', 'Insurance_count',
       'Insurance_amount'],
      dtype='object')
Map_users= Index(['State', 'Year', 'Quater', 'District', 'RegisteredUsers', 'AppOpens'], dtype='object')
Top_trans= Index(['State', 'Year', 'Quater', 'Entity_Level', 'Entity_Name',
       'Transaction_count', 'Transaction_amount'],
      dtype='object')
Top_insur= Index(['State', 'Year', 'Quater', 'Entity_Level', 'Entity_Name',
       'Insurance_count', 'Insurance_amount'],
      dtype='object')
Top_users= Index(['State', 'Year', 'Quater', 'Entity_Level', 'Name', 'Registered_Users'], dtype='object')

In [ ]:
#Table creation
#mysql connection
import pymysql

# Connection Parameters
connection = pymysql.connect(
         host = 'localhost',
         user = 'root',
         password = '12345',
         database = 'phonepe')

#cursor creation
cursor = connection.cursor()

#agg table creation
# create_query_1 = '''CREATE TABLE if not exists aggregated_transaction(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       Transaction_type varchar(255),
#                                                       Transaction_count double,
#                                                       Transaction_amount double)'''

# cursor.execute(create_query_1)
# connection.commit()

# insert_query_1 ='''INSERT INTO aggregated_transaction(State, Year, Quater, Transaction_type, Transaction_count,
#                                                      Transaction_amount)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Agg_Trans.values.tolist()
# cursor.executemany(insert_query_1,data)
# connection.commit()

#agg insurance table
# create_query_2 = '''CREATE TABLE if not exists aggregated_insurance(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       Insurance_type varchar(255),
#                                                       Insurance_count double,
#                                                       Insurance_amount double)'''

# cursor.execute(create_query_2)
# connection.commit()

# insert_query_2 ='''INSERT INTO aggregated_insurance(State, Year, Quater, Insurance_type, Insurance_count,
#                                                      Insurance_amount)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Agg_insur.values.tolist()
# cursor.executemany(insert_query_2,data)
# connection.commit()

#agg user table
# create_query_3 = '''CREATE TABLE if not exists aggregated_user(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       Brands varchar(255),
#                                                       User_count double,
#                                                       Percentage float)'''

# cursor.execute(create_query_3)
# connection.commit()

# insert_query_3 ='''INSERT INTO aggregated_user(State, Year, Quater, Brands, User_count,
#                                                      Percentage)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Agg_user.values.tolist()
# cursor.executemany(insert_query_3,data)
# connection.commit()

#map transaction table
# create_query_4 = '''CREATE TABLE if not exists map_transaction(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       District varchar(255),
#                                                       Transacion_count double,
#                                                       Transacion_amount double)'''

# cursor.execute(create_query_4)
# connection.commit()

# insert_query_4 ='''INSERT INTO map_transaction(State, Year, Quater, District, Transacion_count,
#                                                      Transacion_amount)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Map_trans.values.tolist()
# cursor.executemany(insert_query_4,data)
# connection.commit()

#map insurance table
# create_query_5 = '''CREATE TABLE if not exists map_insurance(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       District varchar(255),
#                                                       Insurance_count double,
#                                                       Insurance_amount double)'''

# cursor.execute(create_query_5)
# connection.commit()

# insert_query_5 ='''INSERT INTO map_insurance(State, Year, Quater, District, Insurance_count,
#                                                      Insurance_amount)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Map_insur.values.tolist()
# cursor.executemany(insert_query_5,data)
# connection.commit()

#map user table
# create_query_6 = '''CREATE TABLE if not exists map_user(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       District varchar(255),
#                                                       RegisteredUsers double,
#                                                       AppOpens double)'''

# cursor.execute(create_query_6)
# connection.commit()

# insert_query_6 ='''INSERT INTO map_user(State, Year, Quater, District, RegisteredUsers,
#                                                      AppOpens)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Map_users.values.tolist()
# cursor.executemany(insert_query_6,data)
# connection.commit()


#top transaction table
# create_query_7 = '''CREATE TABLE if not exists top_transaction(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       Entity_Level varchar(255),
#                                                       Entity_Name varchar(255),
#                                                       Transaction_count double
#                                                       Transaction_amount double'''

# cursor.execute(create_query_7)
# connection.commit()

# insert_query_7 ='''INSERT INTO top_transaction(State, Year, Quater, Entity_Level, Entity_Name,
#                                                      Transaction_count,
#                                                      Transaction_amount)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s,%s)'''
# data = Top_trans.values.tolist()
# cursor.executemany(insert_query_7,data)
# connection.commit()

#top insurance table
# create_query_8 = '''CREATE TABLE if not exists top_insurance(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       Entity_Level varchar(255),
#                                                       Entity_Name varchar(255),
#                                                       Insurance_count double,
#                                                       Insurance_amount double)'''

# cursor.execute(create_query_8)
# connection.commit()

# insert_query_8 ='''INSERT INTO top_insurance(State, Year, Quater, Entity_Level, Entity_Name,
#                                                      Insurance_count,
#                                                      Insurance_amount)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s,%s)'''
# data = Top_insur.values.tolist()
# cursor.executemany(insert_query_8,data)
# connection.commit()



# top user table
# create_query_9 = '''CREATE TABLE if not exists top_user(State varchar(255),
#                                                       Year int,
#                                                       Quater int,
#                                                       Entity_Level varchar(255),
#                                                       Name varchar(255),
#                                                       Registered_Users varchar(255))'''

# cursor.execute(create_query_9)
# connection.commit()

# insert_query_9 ='''INSERT INTO top_user(State, Year, Quater, Entity_Level, Name,
#                                                      Registered_Users)
                                                     
#                                                      values(%s,%s,%s,%s,%s,%s)'''
# data = Top_users.values.tolist()
# cursor.executemany(insert_query_9,data)
# connection.commit()

In [ ]:
import pandas as pd
import pymysql
import requests
import json
import plotly.express as px
connection = pymysql.connect(
         host = 'localhost',
         user = 'root',
         password = '12345',
         database = 'phonepe')

#cursor creation
cursor = connection.cursor()

#agg transaction_df
cursor.execute("SELECT * FROM aggregated_transaction")
connection.commit()
table1 = cursor.fetchall()
Agg_transaction= pd.DataFrame(table1,columns=('State', 'Year', 'Quater', 'Transaction_type', 
                                             'Transaction_count','Transaction_amount'))
# print(Agg_transaction)

#agg insurance_df
cursor.execute("SELECT * FROM aggregated_insurance")
connection.commit()
table2 = cursor.fetchall()
Agg_insurance= pd.DataFrame(table2,columns=('State', 'Year', 'Quater', 'Insurance_type', 
                                             'Insurance_count','Insurance_amount'))
# print(Agg_insurance)

#agg user_df
cursor.execute("SELECT * FROM aggregated_user")
connection.commit()
table3 = cursor.fetchall()
Agg_user= pd.DataFrame(table3,columns=('State', 'Year', 'Quater', 'Brands', 
                                             'User_count','Percentage'))
# print(Agg_user)

#map transaction_df
cursor.execute("SELECT * FROM map_transaction")
connection.commit()
table4 = cursor.fetchall()
Map_transaction= pd.DataFrame(table4,columns=('State', 'Year', 'Quater', 'District', 
                                             'Transaction_count','Transaction_amount'))
# print(Map_transaction)

#map insurance_df
cursor.execute("SELECT * FROM map_insurance")
connection.commit()
table5 = cursor.fetchall()
Map_insurance= pd.DataFrame(table5,columns=('State', 'Year', 'Quater', 'District', 
                                             'Insurance_count','Insurance_amount'))
# print(Map_insurance)

#map user_df
cursor.execute("SELECT * FROM map_user")
connection.commit()
table6 = cursor.fetchall()
Map_user= pd.DataFrame(table6,columns=('State', 'Year', 'Quater', 'District', 
                                             'RegisteredUsers','AppOpens'))
# print(Map_user)

#top transaction_df
cursor.execute("SELECT * FROM top_transaction")
connection.commit()
table7 = cursor.fetchall()
Top_transaction= pd.DataFrame(table7,columns=('State', 'Year', 'Quater', 'Entity_Level', 'Entity_Name',
                                             'Transaction_count','Transaction_amount'))
# print(Top_transaction)

#top insurance_df
cursor.execute("SELECT * FROM top_insurance")
connection.commit()
table8 = cursor.fetchall()
Top_insurance= pd.DataFrame(table8,columns=('State', 'Year', 'Quater', 'Entity_Level', 'Entity_Name',
                                             'Insurance_count','Insurance_amount'))
# print(Top_insurance)

#top user_df
cursor.execute("SELECT * FROM top_user")
connection.commit()
table9 = cursor.fetchall()
Top_user= pd.DataFrame(table9,columns=('State', 'Year', 'Quater', 'Entity_Level', 'Name',
                                             'Registered_Users'))
# print(Top_user)

                   State  Year  Quater Entity_Level                      Name  \
0      Andaman & Nicobar  2018       1     district             south andaman
1      Andaman & Nicobar  2018       1     district  north and middle andaman
2      Andaman & Nicobar  2018       1     district                  nicobars
3      Andaman & Nicobar  2018       1      pincode                    744103
4      Andaman & Nicobar  2018       1      pincode                    744101
...                  ...   ...     ...          ...                       ...
18291        West Bengal  2024       4      pincode                    733134
18292        West Bengal  2024       4      pincode                    700059
18293        West Bengal  2024       4      pincode                    711302
18294        West Bengal  2024       4      pincode                    700150
18295        West Bengal  2024       4      pincode                    711106

      Registered_Users
0                 5846
1                  632
2                  262
3                 1608
4                 1108
...                ...
18291           169596
18292           169448
18293           146034
18294           142151
18295           142077

[18296 rows x 6 columns]

## Aggregated Transaction

In [9]:
import requests
import json
import plotly.express as px

def Transaction_amount_count_Y(df, year):
  atacy = df[df["Year"] == year]
  atacy.reset_index(drop= True, inplace= True)

  atacyg= atacy.groupby("State")[["Transaction_count","Transaction_amount"]].sum()
  atacyg.reset_index(inplace= True)

  fig_amount = px.bar(atacyg, x="State", y= "Transaction_amount", title= f"{year} TRANSACTION AMOUNT",
                    color_discrete_sequence= px.colors.sequential.ice_r, height= 650, width= 600)
  fig_amount.show()

  fig_count = px.bar(atacyg, x="State", y= "Transaction_count", title= f"{year} TRANSACTION COUNT",
                    color_discrete_sequence= px.colors.sequential.Bluered_r, height= 650, width= 600)
  fig_count.show()

  url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
  respo = requests.get(url)
  respo
  data1 =json.loads(respo.content)
  states_name = []
  for feature in data1["features"]:
      states_name.append(feature["properties"]["ST_NM"])

  states_name.sort()

  fig_india_1= px.choropleth(atacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Transaction_amount", color_continuous_scale= "rainbow",
                             range_color= (atacyg["Transaction_amount"].min(),atacyg["Transaction_amount"].max()),
                             hover_name= "State", title= f"{year} TRANSACTION AMOUNT", fitbounds= "locations",
                             height= 600, width= 600)
  fig_india_1.update_geos(visible= False)
  fig_india_1.show()

  fig_india_2= px.choropleth(atacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Transaction_count", color_continuous_scale= "rainbow",
                             range_color= (atacyg["Transaction_count"].min(),atacyg["Transaction_count"].max()),
                             hover_name= "State", title= f"{year} TRANSACTION COUNT", fitbounds= "locations",
                             height= 600, width= 600)
  fig_india_2.update_geos(visible= False)
  fig_india_2.show()

  return atacy

In [10]:
def Transaction_amount_count_Y_Q(df, quater):
  atacy = df[df["Quater"] == quater]
  atacy.reset_index(drop= True, inplace= True)

  atacyg= atacy.groupby("State")[["Transaction_count","Transaction_amount"]].sum()
  atacyg.reset_index(inplace= True)

  fig_amount = px.bar(atacyg, x="State", y= "Transaction_amount", title= f"{atacy['Year'].min()} YEAR {quater} QUATER TRANSACTION AMOUNT",
                    color_discrete_sequence= px.colors.sequential.ice_r, height= 650, width= 600)
  fig_amount.show()

  fig_count = px.bar(atacyg, x="State", y= "Transaction_count", title= f"{atacy['Year'].min()} YEAR {quater} QUATER TRANSACTION COUNT",
                    color_discrete_sequence= px.colors.sequential.Bluered_r, height= 650, width= 600)
  fig_count.show()

  url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
  respo = requests.get(url)
  respo
  data1 =json.loads(respo.content)
  states_name = []
  for feature in data1["features"]:
      states_name.append(feature["properties"]["ST_NM"])

  states_name.sort()

  fig_india_1= px.choropleth(atacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Transaction_amount", color_continuous_scale= "rainbow",
                             range_color= (atacyg["Transaction_amount"].min(),atacyg["Transaction_amount"].max()),
                             hover_name= "State", title= f"{atacy['Year'].min()} YEAR {quater} QUATER TRANSACTION AMOUNT",
                             fitbounds= "locations", height= 600, width= 600)
  fig_india_1.update_geos(visible= False)
  fig_india_1.show()

  fig_india_2= px.choropleth(atacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Transaction_count", color_continuous_scale= "rainbow",
                             range_color= (atacyg["Transaction_count"].min(),atacyg["Transaction_count"].max()),
                             hover_name= "State", title= f"{atacy['Year'].min()} YEAR {quater} QUATER TRANSACTION COUNT", 
                             fitbounds= "locations", height= 600, width= 600)
  fig_india_2.update_geos(visible= False)
  fig_india_2.show()

  return atacy

In [11]:
#Transaction type

def Aggre_Transaction_Type(df, state):

    atacy = df[df["State"] == state]
    atacy.reset_index(drop= True, inplace= True)

    atacyg= atacy.groupby("Transaction_type")[["Transaction_count","Transaction_amount"]].sum()
    atacyg.reset_index(inplace= True)

    fig_pie_1= px.pie(data_frame= atacyg, names= "Transaction_type", values= "Transaction_amount", width= 600, 
                    title= f"{state.upper()} TRANSACTION AMOUNT", hole= 0.6)
    fig_pie_1.show()

    fig_pie_2= px.pie(data_frame= atacyg, names= "Transaction_type", values= "Transaction_count", width= 600, 
                    title= f"{state.upper()} TRANSACTION COUNT", hole= 0.6)
    fig_pie_2.show()

In [12]:
#aggre user analysis_1
def Aggre_user_plot_1(df, year):
    
    agusy = df[df["Year"] == year]
    agusy.reset_index(drop= True, inplace= True)

    agusyg = pd.DataFrame(agusy.groupby("Brands")["User_count"].sum())
    agusyg.reset_index(inplace= True)

    fig_bar_1 = px.bar(agusyg, x= "Brands", y= "User_count", title= f"{year} BRANDS AND USER COUNT",
                    width= 1000, color_discrete_sequence= px.colors.sequential.Magenta_r, hover_name= "Brands")
    fig_bar_1.show()

    return agusy

In [13]:
#Aggregated_User_Analysis 2
def Aggre_user_plot_2(df, quater):
    agusyq = df[df["Quater"]== quater]
    agusyq.reset_index(drop= True, inplace= True)

    agusyqg= pd.DataFrame(agusyq.groupby("Brands")["User_count"].sum())
    agusyqg.reset_index(inplace= True)

    fig_bar_1 = px.bar(agusyqg, x= "Brands", y= "User_count", title= f"{quater} QUATER, BRANDS AND USER COUNT",
                        width= 1000, color_discrete_sequence= px.colors.sequential.Burg_r, hover_name= "Brands")
    fig_bar_1.show()

    return agusyq

In [14]:
#Aggregated User Analysis 3
def Aggre_user_plot_3(df, state):
    agusyqs= df[df["State"] == state]
    agusyqs.reset_index(drop= True, inplace= True)
    agusyqs

    fig_line_1= px.line(agusyqs, x= "Brands", y= "User_count", hover_data= "Percentage", 
                        title= "BRANDS, USER COUNT, PERCENTAGE", width= 1000, markers= True)
    fig_line_1.show()

In [15]:
def Map_tra_dis(df, state):

    atacy = df[df["State"] == state]
    atacy.reset_index(drop= True, inplace= True)

    atacyg= atacy.groupby("District")[["Transaction_count","Transaction_amount"]].sum()
    atacyg.reset_index(inplace= True)

    fig_bar_1= px.bar(atacyg, x= "Transaction_amount", y= "District", orientation= "h", height= 600,
                  title= f"{state.upper()} DISTRICT AND TRANSACTION_AMOUNT", color_discrete_sequence= px.colors.sequential.Brwnyl)
    fig_bar_1.show()

    fig_bar_1= px.bar(atacyg, x= "Transaction_count", y= "District", orientation= "h", height= 600,
                  title= f"{state.upper()} DISTRICT AND TRANSACTION_COUNT", color_discrete_sequence= px.colors.sequential.Bluered_r)
    fig_bar_1.show()

In [16]:
#Map Insurance type
def Map_ins_dis(df, state):
  aiacy = df[df["State"] == state]
  aiacy.reset_index(drop= True, inplace= True)

  aiacyg= aiacy.groupby("District")[["Insurance_count","Insurance_amount"]].sum()
  aiacyg.reset_index(inplace= True)
     
  fig_bar_1= px.bar(aiacyg, x= "Insurance_amount", y= "District", orientation= "h", height= 600,
                  title= f"{state.upper()} DISTRICT AND INSURANCE_AMOUNT", color_discrete_sequence= px.colors.sequential.Brwnyl)
  fig_bar_1.show()


  fig_bar_2= px.bar(aiacyg, x= "Insurance_count", y= "District", orientation= "h", height= 600,
                      title= f"{state.upper()} DISTRICT AND INSURANCE_COUNT", color_discrete_sequence= px.colors.sequential.Mint_r)
  fig_bar_2.show()

In [ ]:
#Map user plot 1
def Map_user_plot_1(df, year):
    mauy = df[df["Year"] == year]
    mauy.reset_index(drop= True, inplace= True)

    mauyg = mauy.groupby("State")[["RegisteredUsers", "AppOpens"]].sum()
    mauyg.reset_index(inplace= True)
    
    fig_line_2= px.line(mauyg, x= "State", y= ["RegisteredUsers", "AppOpens"],
                            title= f"{year} REGISTEREDUSER AND APPOPENS", width= 1000, height= 800, markers= True)
    fig_line_2.show()
  
    return mauy

In [18]:
#Map user plot 2
def Map_user_plot_2(df, quater):
    mauyq = df[df["Quater"] == quater]
    mauyq.reset_index(drop= True, inplace= True)

    mauyqg = mauyq.groupby("State")[["RegisteredUsers", "AppOpens"]].sum()
    mauyqg.reset_index(inplace= True)
    
    fig_line_3= px.line(mauyqg, x= "State", y= ["RegisteredUsers", "AppOpens"],
                            title= f"{df['Year'].min()} YEAR {quater} QUATER REGISTEREDUSER AND APPOPENS", width= 1000, height= 800, markers= True,
                            color_discrete_sequence= px.colors.sequential.YlGnBu_r)
    fig_line_3.show()

    return mauyq

In [19]:
#Map user plot 3
def Map_user_plot_3(df, state):
    mauyqs = df[df["State"] == state]
    mauyqs.reset_index(drop= True, inplace= True)

    fig_line_4= px.bar(mauyqs, x= "RegisteredUsers", y= "District", orientation= "h",
                            title= "REGISTEREDUSER", height= 800, color_discrete_sequence= px.colors.sequential.Bluered_r)
    fig_line_4.show()

    fig_line_5= px.bar(mauyqs, x= "AppOpens", y= "District", orientation= "h",
                            title= "APPOPENS", height= 800, color_discrete_sequence= px.colors.sequential.Blues_r)
    fig_line_5.show()

In [ ]:
Transaction_amount_count_Y(Agg_transaction, 2023)

In [ ]:
tacy = Transaction_amount_count_Y(Agg_transaction, 2023)

In [ ]:
Aggre_Transaction_Type(tacy, 'Tamil Nadu')

In [ ]:
Aggre_Transaction_Type_Q = Transaction_amount_count_Y_Q(tacy, 3)

In [ ]:
Aggre_Transaction_Type(Aggre_Transaction_Type_Q, 'Tamil Nadu')

In [25]:
Aggre_Transaction_Type_Q['State'].unique()

array(['Andaman & Nicobar', 'Andhra Pradesh', 'Arunachal Pradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh',
       'Dadra and Nagar Haveli and Daman and Diu', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu & Kashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Lakshadweep',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan',
       'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

## Aggregated Insurance

In [26]:
def Insurance_amount_count_Y(df, year):
  aiacy = df[df["Year"] == year]
  aiacy.reset_index(drop= True, inplace= True)

  aiacyg= aiacy.groupby("State")[["Insurance_count","Insurance_amount"]].sum()
  aiacyg.reset_index(inplace= True)

  fig_amount = px.bar(aiacyg, x="State", y= "Insurance_amount", title= f"{year} INSURANCE AMOUNT",
                    color_discrete_sequence= px.colors.sequential.ice_r, height= 650, width= 600)
  fig_amount.show()

  fig_count = px.bar(aiacyg, x="State", y= "Insurance_count", title= f"{year} INSURANCE COUNT",
                    color_discrete_sequence= px.colors.sequential.Bluered_r, height= 650, width= 600)
  fig_count.show()

  url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
  respo = requests.get(url)
  data1 =json.loads(respo.content)
  states_name = []
  for feature in data1["features"]:
      states_name.append(feature["properties"]["ST_NM"])

  states_name.sort()

  fig_india_1= px.choropleth(aiacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Insurance_amount", color_continuous_scale= "rainbow",
                             range_color= (aiacyg["Insurance_amount"].min(),aiacyg["Insurance_amount"].max()),
                             hover_name= "State", title= f"{year} INSURANCE AMOUNT", fitbounds= "locations",
                             height= 600, width= 600)
  fig_india_1.update_geos(visible= False)
  fig_india_1.show()

  fig_india_2= px.choropleth(aiacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Insurance_count", color_continuous_scale= "rainbow",
                             range_color= (aiacyg["Insurance_count"].min(),aiacyg["Insurance_count"].max()),
                             hover_name= "State", title= f"{year} INSURANCE COUNT", fitbounds= "locations",
                             height= 600, width= 600)
  fig_india_2.update_geos(visible= False)
  fig_india_2.show()

  return aiacy

In [ ]:
Insurance_amount_count_Y(Map_insurance, 2020)

In [28]:
def Insurance_amount_count_Y_Q(df, quater):
  aiacy = df[df["Quater"] == quater]
  aiacy.reset_index(drop= True, inplace= True)

  aiacyg= aiacy.groupby("State")[["Insurance_count","Insurance_amount"]].sum()
  aiacyg.reset_index(inplace= True)

  fig_amount = px.bar(aiacyg, x="State", y= "Insurance_amount", title= f"{aiacy['Year'].min()} YEAR {quater} QUATER INSURANCE AMOUNT",
                    color_discrete_sequence= px.colors.sequential.ice_r, height= 650, width= 600)
  fig_amount.show()

  fig_count = px.bar(aiacyg, x="State", y= "Insurance_count", title= f"{aiacy['Year'].min()} YEAR {quater} QUATER INSURANCE COUNT",
                    color_discrete_sequence= px.colors.sequential.Bluered_r, height= 650, width= 600)
  fig_count.show()

  url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
  respo = requests.get(url)
  respo
  data1 =json.loads(respo.content)
  states_name = []
  for feature in data1["features"]:
      states_name.append(feature["properties"]["ST_NM"])

  states_name.sort()

  fig_india_1= px.choropleth(aiacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Insurance_amount", color_continuous_scale= "rainbow",
                             range_color= (aiacyg["Insurance_amount"].min(),aiacyg["Insurance_amount"].max()),
                             hover_name= "State", title= f"{aiacy['Year'].min()} YEAR {quater} QUATER INSURANCE AMOUNT",
                             fitbounds= "locations", height= 600, width= 600)
  fig_india_1.update_geos(visible= False)
  fig_india_1.show()

  fig_india_2= px.choropleth(aiacyg, geojson= data1, locations= "State", featureidkey=  "properties.ST_NM", 
                             color= "Insurance_count", color_continuous_scale= "rainbow",
                             range_color= (aiacyg["Insurance_count"].min(),aiacyg["Insurance_count"].max()),
                             hover_name= "State", title= f"{aiacy['Year'].min()} YEAR {quater} QUATER INSURANCE COUNT", 
                             fitbounds= "locations", height= 600, width= 600)
  fig_india_2.update_geos(visible= False)
  fig_india_2.show()

  return aiacy

In [ ]:
aicy = Insurance_amount_count_Y(Agg_insurance, 2022)

In [ ]:
Insurance_amount_count_Y_Q(aicy, 2)

In [ ]:
Agg_insurance

In [ ]:
Aggre_user_Y= Aggre_user_plot_1(Agg_user, 2021)

In [ ]:
Aggre_user_Y_Q= Aggre_user_plot_2(Aggre_user_Y, 3)

In [ ]:
Aggre_user_plot_3(Aggre_user_Y_Q,"Tamil Nadu")

## Map Insurance

In [ ]:
Map_insurance

In [ ]:
Map_ins_tac_Y = Insurance_amount_count_Y(Map_insurance, 2022)

In [ ]:
Map_ins_tac_Y_Q = Insurance_amount_count_Y_Q(Map_ins_tac_Y,3)

In [ ]:
Map_ins_dis(Map_ins_tac_Y_Q, "Andaman & Nicobar")

## Map Transaction

In [ ]:
Transaction_amount_count_Y(Map_transaction, 2023)

In [ ]:
Map_tra_Y = Transaction_amount_count_Y(Map_transaction, 2023)

In [ ]:
Map_tra_Y_Q = Transaction_amount_count_Y_Q(Map_tra_Y,3)

In [ ]:
Map_tra_dis(Map_tra_Y_Q, "Andaman & Nicobar")

In [ ]:
Map_transaction

## Map user

In [ ]:
Map_user_Y = Map_user_plot_1(Map_user, 2019)

In [ ]:
Map_user_Y_Q = Map_user_plot_2(Map_user_Y, 2)

In [ ]:
Map_user_plot_3(Map_user_Y_Q, "Tamil Nadu")

In [ ]:
Map_user

## Top Transaction

In [68]:
Top_transaction

,State,Year,Quater,Entity_Level,Entity_Name,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,district,south andaman,5688.0,1.256025e+07
1,Andaman & Nicobar,2018,1,pincode,744101,1622.0,2.769298e+06
2,Andaman & Nicobar,2018,1,pincode,744103,1223.0,2.238042e+06
3,Andaman & Nicobar,2018,1,pincode,744102,969.0,3.519060e+06
4,Andaman & Nicobar,2018,1,pincode,744105,685.0,1.298561e+06
...,...,...,...,...,...,...,...
91118,West Bengal,2024,4,pincode,711101,6753348.0,1.049483e+10
91119,West Bengal,2024,4,pincode,700059,6662715.0,8.009476e+09
91120,West Bengal,2024,4,pincode,700039,6575693.0,9.018748e+09
91121,West Bengal,2024,4,pincode,734001,6432082.0,8.996529e+09
91122,West Bengal,2024,4,pincode,733134,6313560.0,1.050259e+10

In [ ]:
#Top Transaction year funtion

def Top_Transaction_amount_count_Y(df, year):
    # Filter for given year
    Toty = df[df["Year"] == year]
    Toty.reset_index(drop=True, inplace=True)

    # ---- STATE LEVEL ----
    
    Totyg = Toty.groupby("State")[["Transaction_count", "Transaction_amount"]].sum().reset_index()
    Totyg.reset_index(inplace=True)
   
    # Bar Plot Amount (State)
    fig_bar_top1 = px.bar(Totyg, x="State", y="Transaction_amount",
                        title=f"{year} TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.ice_r,
                        height=650, width=800)
    fig_bar_top1.show()

    # Bar Plot Count (State)
    fig__bar_top2 = px.bar(Totyg, x="State", y="Transaction_count",
                       title=f"{year} TRANSACTION COUNT",
                       color_discrete_sequence=px.colors.sequential.Bluered_r,
                       height=650, width=800)
    fig__bar_top2.show()

    # Choropleth Map (State Level)
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    respo = requests.get(url)
    india_map = json.loads(respo.content)

    fig_india_amount = px.choropleth(Totyg, geojson=india_map, locations="State",
                                     featureidkey="properties.ST_NM",
                                     color="Transaction_amount", color_continuous_scale="rainbow",
                                     range_color=(Totyg["Transaction_amount"].min(),
                                                  Totyg["Transaction_amount"].max()),
                                     hover_name="State",
                                     title=f"{year} TRANSACTION AMOUNT",
                                     fitbounds="locations",
                                     height=600, width=600)
    fig_india_amount.update_geos(visible=False)
    fig_india_amount.show()

    fig_india_count = px.choropleth(Totyg, geojson=india_map, locations="State",
                                    featureidkey="properties.ST_NM",
                                    color="Transaction_count", color_continuous_scale="rainbow",
                                    range_color=(Totyg["Transaction_count"].min(),
                                                 Totyg["Transaction_count"].max()),
                                    hover_name="State",
                                    title=f"{year} TRANSACTION COUNT",
                                    fitbounds="locations",
                                    height=600, width=600)
    fig_india_count.update_geos(visible=False)
    fig_india_count.show()

   # ---- DISTRICT LEVEL ----
    
    df_district = Toty[Toty["Entity_Level"] == "district"]
    grouped_district = df_district.groupby(["State", "Entity_Name"])[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    if not grouped_district.empty:
        fig_district_1 = px.bar(grouped_district, x="Entity_Name", y="Transaction_amount",
                            title=f"{year} TRANSACTION AMOUNT BY DISTRICT",
                            color="State",
                            height=650, width=1500)
        fig_district_1.show()

        fig_district_2 = px.bar(grouped_district, x="Entity_Name", y="Transaction_count",
                           title=f"{year} TRANSACTION COUNT BY DISTRICT",
                           color="State",
                           height=650, width=1500)
        fig_district_2.show()

    # ---- PINCODE LEVEL ----
   
    df_pincode = Toty[Toty["Entity_Level"] == "pincode"]
    grouped_pincode = df_pincode.groupby(["State", "Entity_Name"])[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    if not grouped_pincode.empty:
        fig_pincode_1 = px.bar(grouped_pincode, x="Entity_Name", y="Transaction_amount",
                            title=f"{year} TRANSACTION AMOUNT BY PINCODE",
                            color="State",
                            height=650, width=1500)
        fig_pincode_1.show()

        fig_pincode_2 = px.bar(grouped_pincode, x="Entity_Name", y="Transaction_count",
                           title=f"{year} TRANSACTION COUNT BY PINCODE",
                           color="State",
                           height=650, width=1500)
        fig_pincode_2.show()
        
    return Toty

In [ ]:
Top_tra_Y = Top_Transaction_amount_count_Y(Top_transaction, 2021)

In [ ]:

def Top_Transaction_amount_count_Q(df, quater):
    # Filter for given Quarter
    Totq = df[df["Quater"] == quater]
    Totq.reset_index(drop=True, inplace=True)

    # ==============================
    # ---- STATE LEVEL ----
    # ==============================
    grouped_state = Totq.groupby("State")[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    # Bar Plot Amount (State)
    fig_bar_top1 = px.bar(grouped_state, x="State", y="Transaction_amount",
                        title=f"{Totq['Year'].min()} YEAR {quater} QUATER TRANSACTION AMOUNT",
                        color_discrete_sequence=px.colors.sequential.ice_r,
                        height=650, width=800)
    fig_bar_top1.show()

    # Bar Plot Count (State)
    fig_bar_top2 = px.bar(grouped_state, x="State", y="Transaction_count",
                       title=f"{Totq['Year'].min()} YEAR {quater} QUATER TRANSACTION COUNT",
                       color_discrete_sequence=px.colors.sequential.Bluered_r,
                       height=650, width=800)
    fig_bar_top2.show()

    # Choropleth Map (State Level)
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    respo = requests.get(url)
    india_map = json.loads(respo.content)

    fig_india_amount = px.choropleth(grouped_state, geojson=india_map, locations="State",
                                     featureidkey="properties.ST_NM",
                                     color="Transaction_amount", color_continuous_scale="rainbow",
                                     range_color=(grouped_state["Transaction_amount"].min(),
                                                  grouped_state["Transaction_amount"].max()),
                                     hover_name="State",
                                     title=f"{Totq['Year'].min()} YEAR {quater} QUATER TRANSACTION AMOUNT",
                                     fitbounds="locations",
                                     height=600, width=600)
    fig_india_amount.update_geos(visible=False)
    fig_india_amount.show()

    fig_india_count = px.choropleth(grouped_state, geojson=india_map, locations="State",
                                    featureidkey="properties.ST_NM",
                                    color="Transaction_count", color_continuous_scale="rainbow",
                                    range_color=(grouped_state["Transaction_count"].min(),
                                                 grouped_state["Transaction_count"].max()),
                                    hover_name="State",
                                    title=f"{Totq['Year'].min()} YEAR {quater} QUATER TRANSACTION COUNT",
                                    fitbounds="locations",
                                    height=600, width=600)
    fig_india_count.update_geos(visible=False)
    fig_india_count.show()

    # ==============================
    # ---- DISTRICT LEVEL ----
    # ==============================
    df_district = Totq[Totq["Entity_Level"] == "district"]
    grouped_district = df_district.groupby(["State", "Entity_Name"])[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    if not grouped_district.empty:
        fig_district_1 = px.bar(grouped_district, x="Entity_Name", y="Transaction_amount",
                            title=f"Q{quater} TRANSACTION AMOUNT BY DISTRICT",
                            color="State",
                            height=650, width=1500)
        fig_district_1.show()

        fig_district_2 = px.bar(grouped_district, x="Entity_Name", y="Transaction_count",
                           title=f"Q{quater} TRANSACTION COUNT BY DISTRICT",
                           color="State",
                           height=650, width=1500)
        fig_district_2.show()

    # ==============================
    # ---- PINCODE LEVEL ----
    # ==============================
    df_pincode = Totq[Totq["Entity_Level"] == "pincode"]
    grouped_pincode = df_pincode.groupby(["State", "Entity_Name"])[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    if not grouped_pincode.empty:
        fig_pincode_1 = px.bar(grouped_pincode, x="Entity_Name", y="Transaction_amount",
                            title=f"Q{quater} TRANSACTION AMOUNT BY PINCODE",
                            color="State",
                            height=650, width=1500)
        fig_pincode_1.show()

        fig_pincode_2 = px.bar(grouped_pincode, x="Entity_Name", y="Transaction_count",
                           title=f"Q{quater} TRANSACTION COUNT BY PINCODE",
                           color="State",
                           height=650, width=1500)
        fig_pincode_2.show()

    return Totq

In [ ]:
#Top transaction type

def Top_Transaction_Type(df, state):
    # Filter for the given state
    Totqs = df[df["State"] == state]
    Totqs.reset_index(drop=True, inplace=True)

    # District level
    df_district = Totqs[Totqs["Entity_Level"] == "district"]
    grouped_district = df_district.groupby("Entity_Name")[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    if not grouped_district.empty:
        fig_district_amount = px.pie(data_frame=grouped_district, 
                                     names="Entity_Name", values="Transaction_amount", width=600,
                                     title=f"{state.upper()} DISTRICT TRANSACTION AMOUNT", hole=0.6)
        fig_district_amount.show()

        fig_district_count = px.pie(data_frame=grouped_district, 
                                    names="Entity_Name", values="Transaction_count", width=600,
                                    title=f"{state.upper()} DISTRICT TRANSACTION COUNT", hole=0.6)
        fig_district_count.show()

    # Pincode level
    df_pincode = Totqs[Totqs["Entity_Level"] == "pincode"]
    grouped_pincode = df_pincode.groupby("Entity_Name")[["Transaction_count", "Transaction_amount"]].sum().reset_index()

    if not grouped_pincode.empty:
        fig_pincode_amount = px.pie(data_frame=grouped_pincode, 
                                    names="Entity_Name", values="Transaction_amount", width=600,
                                    title=f"{state.upper()} PINCODE TRANSACTION AMOUNT", hole=0.6)
        fig_pincode_amount.show()

        fig_pincode_count = px.pie(data_frame=grouped_pincode, 
                                   names="Entity_Name", values="Transaction_count", width=600,
                                   title=f"{state.upper()} PINCODE TRANSACTION COUNT", hole=0.6)
        fig_pincode_count.show()

In [ ]:
Top_tra_Y_Q = Top_Transaction_amount_count_Q(Top_tra_Y, 3)

In [ ]:
Top_Transaction_Type(Top_tra_Y_Q,"Tamil Nadu")

## Top insurance

In [124]:
Top_insurance

,State,Year,Quater,Entity_Level,Entity_Name,Insurance_count,Insurance_amount
0,Andaman & Nicobar,2020,2,district,nicobars,3.0,565.0
1,Andaman & Nicobar,2020,2,pincode,744301,3.0,565.0
2,Andaman & Nicobar,2020,2,pincode,744104,2.0,513.0
3,Andaman & Nicobar,2020,2,pincode,744101,1.0,282.0
4,Andaman & Nicobar,2020,2,district,south andaman,3.0,795.0
...,...,...,...,...,...,...,...
61436,West Bengal,2024,4,pincode,711101,713.0,750354.0
61437,West Bengal,2024,4,pincode,700091,642.0,969634.0
61438,West Bengal,2024,4,pincode,700150,627.0,761501.0
61439,West Bengal,2024,4,pincode,700039,619.0,787836.0
61440,West Bengal,2024,4,pincode,700156,574.0,888613.0

In [122]:
# Top Insurance year function

def Top_Insurance_amount_count_Y(df, year):
    # Filter for given year
    Toiy = df[df["Year"] == year]
    Toiy.reset_index(drop=True, inplace=True)
    
    # ---- STATE LEVEL ----
    Toiyg = Toiy.groupby("State")[["Insurance_count", "Insurance_amount"]].sum().reset_index()
    Toiyg.reset_index(inplace=True)

    # Bar Plot Amount (State)
    fig_bar_top1 = px.bar(Toiyg, x="State", y="Insurance_amount",
                          title=f"{year} INSURANCE AMOUNT",
                          color_discrete_sequence=px.colors.sequential.Peach,
                          height=650, width=800)
    fig_bar_top1.show()

    # Bar Plot Count (State)
    fig_bar_top2 = px.bar(Toiyg, x="State", y="Insurance_count",
                          title=f"{year} INSURANCE COUNT",
                          color_discrete_sequence=px.colors.sequential.Pinkyl_r,
                          height=650, width=800)
    fig_bar_top2.show()

    # Choropleth Map (State Level)
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    respo = requests.get(url)
    india_map = json.loads(respo.content)

    fig_india_amount = px.choropleth(Toiyg, geojson=india_map, locations="State",
                                     featureidkey="properties.ST_NM",
                                     color="Insurance_amount", color_continuous_scale="rainbow",
                                     range_color=(Toiyg["Insurance_amount"].min(),
                                                  Toiyg["Insurance_amount"].max()),
                                     hover_name="State",
                                     title=f"{year} INSURANCE AMOUNT",
                                     fitbounds="locations",
                                     height=600, width=600)
    fig_india_amount.update_geos(visible=False)
    fig_india_amount.show()

    fig_india_count = px.choropleth(Toiyg, geojson=india_map, locations="State",
                                    featureidkey="properties.ST_NM",
                                    color="Insurance_count", color_continuous_scale="rainbow",
                                    range_color=(Toiyg["Insurance_count"].min(),
                                                 Toiyg["Insurance_count"].max()),
                                    hover_name="State",
                                    title=f"{year} INSURANCE COUNT",
                                    fitbounds="locations",
                                    height=600, width=600)
    fig_india_count.update_geos(visible=False)
    fig_india_count.show()

    # ---- DISTRICT LEVEL ----
    df_district = Toiy[Toiy["Entity_Level"] == "district"]
    grouped_district = df_district.groupby(["State", "Entity_Name"])[["Insurance_count", "Insurance_amount"]].sum().reset_index()

    if not grouped_district.empty:
        fig_district_1 = px.bar(grouped_district, x="Entity_Name", y="Insurance_amount",
                                title=f"{year} INSURANCE AMOUNT BY DISTRICT",
                                color="State",
                                height=650, width=1500)
        fig_district_1.show()

        fig_district_2 = px.bar(grouped_district, x="Entity_Name", y="Insurance_count",
                                title=f"{year} INSURANCE COUNT BY DISTRICT",
                                color="State",
                                height=650, width=1500)
        fig_district_2.show()

    # ---- PINCODE LEVEL ----
    df_pincode = Toiy[Toiy["Entity_Level"] == "pincode"]
    grouped_pincode = df_pincode.groupby(["State", "Entity_Name"])[["Insurance_count", "Insurance_amount"]].sum().reset_index()

    if not grouped_pincode.empty:
        fig_pincode_1 = px.bar(grouped_pincode, x="Entity_Name", y="Insurance_amount",
                               title=f"{year} INSURANCE AMOUNT BY PINCODE",
                               color="State",
                               height=650, width=1500)
        fig_pincode_1.show()

        fig_pincode_2 = px.bar(grouped_pincode, x="Entity_Name", y="Insurance_count",
                               title=f"{year} INSURANCE COUNT BY PINCODE",
                               color="State",
                               height=650, width=1500)
        fig_pincode_2.show()

    return Toiy

In [92]:
def Top_Insurance_amount_count_Q(df, quater):
    # Filter for given Quarter
    Toiy = df[df["Quater"] == quater]
    Toiy.reset_index(drop=True, inplace=True)

    # ==============================
    # ---- STATE LEVEL ----
    # ==============================
    grouped_state = Toiy.groupby("State")[["Insurance_count", "Insurance_amount"]].sum().reset_index()

    # Bar Plot Amount (State)
    fig_bar_top1 = px.bar(grouped_state, x="State", y="Insurance_amount",
                        title=f"{Toiy['Year'].min()} YEAR {quater} QUATER INSURANCE AMOUNT",
                        color_discrete_sequence=px.colors.sequential.RdPu_r,
                        height=650, width=800)
    fig_bar_top1.show()

    # Bar Plot Count (State)
    fig_bar_top2 = px.bar(grouped_state, x="State", y="Insurance_count",
                       title=f"{Toiy['Year'].min()} YEAR {quater} QUATER INSURANCE COUNT",
                       color_discrete_sequence=px.colors.sequential.Tealgrn,
                       height=650, width=800)
    fig_bar_top2.show()

    # Choropleth Map (State Level)
    url = "https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson"
    respo = requests.get(url)
    india_map = json.loads(respo.content)

    fig_india_amount = px.choropleth(grouped_state, geojson=india_map, locations="State",
                                     featureidkey="properties.ST_NM",
                                     color="Insurance_amount", color_continuous_scale="rainbow",
                                     range_color=(grouped_state["Insurance_amount"].min(),
                                                  grouped_state["Insurance_amount"].max()),
                                     hover_name="State",
                                     title=f"{Toiy['Year'].min()} YEAR {quater} QUATER INSURANCE AMOUNT",
                                     fitbounds="locations",
                                     height=600, width=600)
    fig_india_amount.update_geos(visible=False)
    fig_india_amount.show()

    fig_india_count = px.choropleth(grouped_state, geojson=india_map, locations="State",
                                    featureidkey="properties.ST_NM",
                                    color="Insurance_count", color_continuous_scale="rainbow",
                                    range_color=(grouped_state["Insurance_count"].min(),
                                                 grouped_state["Insurance_count"].max()),
                                    hover_name="State",
                                    title=f"{Toiy['Year'].min()} YEAR {quater} QUATER INSURANCE COUNT",
                                    fitbounds="locations",
                                    height=600, width=600)
    fig_india_count.update_geos(visible=False)
    fig_india_count.show()

    # ==============================
    # ---- DISTRICT LEVEL ----
    # ==============================
    df_district = Toiy[Toiy["Entity_Level"] == "district"]
    grouped_district = df_district.groupby(["State", "Entity_Name"])[["Insurance_count", "Insurance_amount"]].sum().reset_index()

    if not grouped_district.empty:
        fig_district_1 = px.bar(grouped_district, x="Entity_Name", y="Insurance_amount",
                            title=f"Q{quater} INSURANCE AMOUNT BY DISTRICT",
                            color="State",
                            height=650, width=1500)
        fig_district_1.show()

        fig_district_2 = px.bar(grouped_district, x="Entity_Name", y="Insurance_count",
                           title=f"Q{quater} INSURANCE COUNT BY DISTRICT",
                           color="State",
                           height=650, width=1500)
        fig_district_2.show()

    # ==============================
    # ---- PINCODE LEVEL ----
    # ==============================
    df_pincode = Toiy[Toiy["Entity_Level"] == "pincode"]
    grouped_pincode = df_pincode.groupby(["State", "Entity_Name"])[["Insurance_count", "Insurance_amount"]].sum().reset_index()

    if not grouped_pincode.empty:
        fig_pincode_1 = px.bar(grouped_pincode, x="Entity_Name", y="Insurance_amount",
                            title=f"Q{quater} INSURANCE AMOUNT BY PINCODE",
                            color="State",
                            height=650, width=1500)
        fig_pincode_1.show()

        fig_pincode_2 = px.bar(grouped_pincode, x="Entity_Name", y="Insurance_count",
                           title=f"Q{quater} INSURANCE COUNT BY PINCODE",
                           color="State",
                           height=650, width=1500)
        fig_pincode_2.show()

    return Toiy

In [116]:
def Top_insurance_dis(df, state, level="district"):
    # Filter for state and entity level (district or pincode)
    Toiyd = df[(df["State"] == state) & (df["Entity_Level"] == level)]
    Toiyd.reset_index(drop=True, inplace=True)

    # Group by Entity_Name (works for both district & pincode)
    Toiydg = Toiyd.groupby("Entity_Name")[["Insurance_count", "Insurance_amount"]].sum()
    Toiydg.reset_index(inplace=True)

    fig_bar_1 = px.bar(
        Toiydg, x="Insurance_amount", y="Entity_Name", orientation="h", height=600,
        title=f"{state.upper()} {level.upper()} - INSURANCE AMOUNT",
        color_discrete_sequence=px.colors.sequential.RdPu_r
    )
    fig_bar_1.show()

    fig_bar_2 = px.bar(
        Toiydg, x="Insurance_count", y="Entity_Name", orientation="h", height=600,
        title=f"{state.upper()} {level.upper()} - INSURANCE COUNT",
        color_discrete_sequence=px.colors.sequential.Sunsetdark_r
    )
    fig_bar_2.show()

In [ ]:
Top_Ins_Y= Top_Insurance_amount_count_Y(Top_insurance, 2020)

In [ ]:
Top_ins_Y_Q = Top_Insurance_amount_count_Q(Top_Ins_Y, 2)

In [ ]:
Top_insurance_dis(Top_ins_Y_Q,"Tamil Nadu")

## Top User

In [4]:
Top_user

,State,Year,Quater,Entity_Level,Name,Registered_Users
0,Andaman & Nicobar,2018,1,district,south andaman,5846
1,Andaman & Nicobar,2018,1,district,north and middle andaman,632
2,Andaman & Nicobar,2018,1,district,nicobars,262
3,Andaman & Nicobar,2018,1,pincode,744103,1608
4,Andaman & Nicobar,2018,1,pincode,744101,1108
...,...,...,...,...,...,...
18291,West Bengal,2024,4,pincode,733134,169596
18292,West Bengal,2024,4,pincode,700059,169448
18293,West Bengal,2024,4,pincode,711302,146034
18294,West Bengal,2024,4,pincode,700150,142151
18295,West Bengal,2024,4,pincode,711106,142077

In [10]:

def Top_user_plot_1(df, year):
   
    df["Registered_Users"] = pd.to_numeric(df["Registered_Users"], errors="coerce").fillna(0)

    tuy = df[df["Year"] == year].reset_index(drop=True)

    tuyg = tuy.groupby(["State", "Quater"])["Registered_Users"].sum().reset_index()

    fig = px.bar(tuyg, x="State", y="Registered_Users", color="Quater", barmode="group", width=1000, height=800,
        color_discrete_sequence=px.colors.sequential.Oranges_r, hover_name="State", title=f"{year} REGISTERED USERS")
    fig.show()

    return tuyg

In [ ]:
Top_user_Y = Top_user_plot_1(Top_user, 2019)

In [ ]:
import pandas as pd
import plotly.express as px

def Top_user_plot_2(df, state):
    # Normalize strings for consistent matching
    tuys = df[df["State"].str.strip().str.lower() == state.strip().lower()].reset_index(drop=True)

    # Ask user to choose between District or Pincode
    level = input("Select Level (District/Pincode): ").strip().capitalize()

    if level == "District":
        tuys = tuys[tuys["Entity_Level"].str.lower() == "district"].rename(columns={"Name": "District"})
        hover_column = "District"
        title = f"Registered Users by District ({state})"
        color_seq = px.colors.sequential.algae_r

    elif level == "Pincode":
        tuys = tuys[tuys["Entity_Level"].str.lower() == "pincode"].rename(columns={"Name": "Pincode"})
        hover_column = "Pincode"
        title = f"Registered Users by Pincode ({state})"
        color_seq = px.colors.sequential.Viridis_r

    # Plot
    fig = px.bar(
        tuys,
        x="Quater",
        y="Registered_Users",
        color="Registered_Users",
        hover_data=["Entity_Level", hover_column],
        title= "REGISTERED USERS, PINCODE, DISTRICTS",
        width=1000,
        height=800,
        color_discrete_sequence=color_seq
    )
    fig.show()

In [41]:
Top_user_plot_2(Top_user, "Tamil Nadu")